@import "index.css";
@import "title_screen.css";


@font-face{
  font-family: "Final Fantasy NW";
  src: url("../finalf.ttf");
}

@font-face {
  font-family: 'Final Fantasy';
  font-style: normal;
  font-weight: normal;
  src: local('Final Fantasy'), url('finalf.woff') format('woff');
  }