#battleView{
  object-fit: contain;
	background: black;
}

#battle-view{
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  padding: 0;
  margin: auto;
  display: block;
  background: black;
}

#enemies-ui{
	left: 0;
	background: radial-gradient(-180px 0px,circle ,#000446 100px,#001b85 100px,#0053ad);
	background: -moz-radial-gradient(-180px 0px,circle ,#000446 100px,#001b85 100px,#0053ad);
 background: -webkit-radial-gradient(-180px 0px,circle ,#000446 100px,#001b85 100px,#0053ad);
 background: -o-radial-gradient(-180px 0px,circle ,#000446 100px,#001b85 100px,#0053ad);
}

#party-moves{
	width: 33%;
	 left: 0;
	right: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#party-ui{
	right: 0;
}

.battle-ui{
  bottom: 30px;
  position: absolute;
  padding: 0;
  margin: auto;
  display: block;
  /* left: 0;
  right: 0; */
}
.battle-ui{
	position: absolute;
	padding: 10px 0px 10px 40px;
	/* width: 250px; */
	list-style: none;
	background: radial-gradient(-180px 0px,circle ,#000446 100px,#001b85 100px,#0053ad);
    background: -moz-radial-gradient(-180px 0px,circle ,#000446 100px,#001b85 100px,#0053ad);
	 background: -webkit-radial-gradient(-180px 0px,circle ,#000446 100px,#001b85 100px,#0053ad);
	 background: -o-radial-gradient(-180px 0px,circle ,#000446 100px,#001b85 100px,#0053ad);
	border: 5px solid;
	border-radius: 15px;
	 -moz-border-radius: 15px;
	 -webkit-border-radius: 15px;
	box-sizing: border-box;     
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	animation-name: movingUp;
	 animation-duration: 0.5s;
	 animation-timing-function: ease;		  	  
}

.battle-ui li {
	line-height:40px;
	width: fit-content;
	color: white;
	font-size: 30px;
	padding: 8px 0;
}

.battle-ui li:hover{
	cursor: none;
}